<div class="jumbotron">
  <h1 class="title wisegui"><span class="w">W</span>ISEGU<span class="i">I</span></h1>
  <p class="title wisegui-desc">An opensource online encyclopedia</p>
</div>

<div class="row home-pg">
  <div class="home col-md-4">
    <h2><i class="fas fa-lightbulb"></i></i>Create</h2>
    <p>Post public wikis about the topics you care about</p>
  </div>
  <div class="home col-md-4">
    <h2><i class="fas fa-dollar-sign"></i>Upgrade</h2>
    <p>Premium account holders can share private wikis</p>
  </div>
  <div class="home col-md-4">
    <h2><i class="fas fa-hands-helping"></i>Collaborate</h2>
    <p>Share wikis by collaborating with other users</p>
  </div>
</div>
