<div class="jumbotron">
  <h1 class="title">Wisegui</h1>
  <p class="title">An opensource online encyclopedia</p>
</div>

<div class="row">
  <div class="home col-md-4">
    <h2>Create</h2>
    <p>Post public wikis about the topics you care about</p>
  </div>
  <div class="home col-md-4">
    <h2>Upgrade</h2>
    <p>Premium account holders can share private wikis</p>
  </div>
  <div class="home col-md-4">
    <h2>Collaborate</h2>
    <p>Share wikis by collaborating with other users</p>
  </div>
</div>
