<div class="col-md-8">
  <div class="row">
    <h1>Edit Wiki</h1>
    <br>
    <%= render partial: 'form', locals: { wiki: @wiki } %>
    <%= render partial: 'collaborators/form', locals: { wiki: @wiki } %>
  </div>
</div>
